.button__wrapper {
  min-width: 160px;
  height: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #903BD3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}