.app__wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282D3F;
}

.app__container {
  width: 1200px;
  min-height: 910px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.results__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.list__item {
  min-width: 292px;
  border-radius: 10px;
  overflow: hidden;
}