.sorting__container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.sorting__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}